img {
    width: 14vw;
    height: 27vh;
    border-radius: 9px;
}

h2 {
  color: snow;
}

.movie-poster-container {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 34vh;
}

.movie-title {
  color: azure;
  display: flex;
  flex-direction: row;
  width: 12vw;
  height: 5vh;
}

.star-image {
  height: 1vh; 
  width: 1vw;
}