p {
  margin: 8px;
}

.movie-overview {
  text-align: left;
  display: inline-block
}

.movie-title-container {
  display: flex;
  width: 100vw;
  height: 20vh;
  padding-bottom: 20px;
  justify-content: center;
  align-items: flex-end;
}

.movie-trailer {
  display: flex;
  height: 90vh;
  width: 69vw;
  justify-content: center;
}

.movie-details {
  color: snow;
  display: flex;
  width: 55vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 75px;
  font-size: 25px;
}

.middle-container {
  display: flex;
}

.home-button {
  border-radius: 5px;
  background-color: rgb(141, 156, 133);
  margin-left: 35px;
}


