input, button {
  margin: 5px;
  width: 30%;
  border: 2px solid black;
  font-size: 18px;
}
h1 {
  color: snow;
}

.logo-image {
  height: 7vh;
  width: 7vh;
}

.header-bar {
  display: flex;
}

.title-logo {
  width: 50vw;
  color: snow;
  display: flex;
}

.search-bar {
  display: flex;
  height: 20vh;
  width: 50vw;
}

