.search {
  display: flex;
  margin: 5px;
  width: 20%;
  height: 15%;
  border: 2px solid black;
  font-size: 18px;
}

h1 {
  color: snow;
  letter-spacing: 7px;
  font-size: 60px;
  padding: 15px;
}

.logo-image {
  padding: 15px;
  height: 20vh;
  width: 30vh;
}

.header-bar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 95px;
  padding-left: 30px;
}

.title-logo {
  width: 50vw;
  color: snow;
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  height: 20vh;
  width: 50vw;
}




