input {
  display: flex;
  border-radius: 5px;
  margin: 27px;
  width: 16vw;
  height: 3.5vh;
  border: 2px solid black;
  font-size: 21px;
}

.header-title {
  color: snow;
  letter-spacing: 7px;
  font-size: 50px;
  padding: 15px;
}

.logo-image {
  height: 17vh;
  width: 25vh;
}

.header-bar {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-right: 73px;
  padding-left: 75px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-logo {
  width: 50vw;
  color: snow;
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  height: 30vh;
  width: 60vw;
}




